@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    background-color: #DCCBB5;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    text-align: justify;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.destaque {
    font-weight: bold;
}

/*Navbar*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    flex-wrap: nowrap;
    margin-top: 0px;
    background-color: rgba(0, 81, 30, 0.598);
    color: #7c4600;
    width: 100%;
    z-index: 1;
    position: fixed;
    display: inline;
}


.navbar li {
    margin-left: 10%;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 150%;

}

.navbar li a {
    color: #f2a78c;
    text-decoration: none;
}

.navbar li a:hover {
    color: white;
    font-weight: 700;
}

/* Seção de inicial */

#initPage {
    background-image: url(./img/present/Mimo.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 20%;
    background-size: 450px;
    align-items: center;
    justify-content: center;
    position: relative;
}


.initContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 230px 0px 0px 100px;
    margin: 0px;
}

#initPage h1 {
    display: inline-block;
    text-align: left;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#initPage h1:nth-child(1) {
    animation-delay: .8s;
}

#initPage h1:nth-child(2) {
    animation-delay: 1.8s;
}

#initPage h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#initPage h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #f2a78c;
}

#initPage h1:nth-child(1) span {
    animation-delay: .5s;
}

#initPage h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#initPage h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#initPage::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: salmon;
    opacity: 0.2;
    z-index: -1;
}



/*Portifolio Button*/

.initContainer .cta {

    display: inline-block;
    position: relative;
    top: 80%;
    width: 35vh;
    border: 1px;
    padding: 10px 30px;
    color: rgb(0, 81, 30);
    border: 2px solid rgba(255, 0, 0, 0.489);
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}

#initPage .cta:hover {
    color: white;
    font-weight: 700;
    background-color: rgb(0, 81, 30);
}

/*Presentation*/

#present {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    background-color: #C7AD9F;
    width: auto;

}

.present-img {
    size: 80%;
    margin: 0%;
    padding: 5vh;

}

.presentContent {
    padding: 0vh 3vh 5vh;

}

.presentContent h1 {
    font-size: 5rem;
}

.presentContent p {
    font-size: 2rem;
}






/*Title portfolio*/

.section-title span {
    padding: 2% 5%;
    border: solid #2a560069 4px;
    background-color: #DCCBB5;
    border-radius: 20%;
}


.section-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(191, 89, 0);
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-top: 25px;
}

#portfolio .section-title {
    display: block;
    background-image: url(./img/present/Mimo.png);
    background-repeat: no-repeat;
    background-position: 80% 10%;
    background-size: contain;
}


/*Projetos*/


#portfolio .portfolio {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0 10px;
}

#portfolio .portfolio-header h1 {
    margin-bottom: 50px;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgba(245, 173, 101, 0.6) 0%, #fca650c8 100%);
    color: white;
}

#portfolio .project-info h1 {
    font-size: 4rem;
    font-weight: 700;
}

#portfolio .project-info h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 10px;
}

#portfolio .project-info p {
    font-weight: 400;
}

#portfolio .project-img {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
    size: cover;
    align-self: flex-start;
    width: auto;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#portfolio .project-img img {
    transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img {
    transform: scale(1.1);
}

/*contatos*/

form {
    display: none;
}

#contact {
    text-align-last: center;
    display: inline-block font-size: large;
    background-color: #c9b0a3;
    padding: 80px;
    margin: 0;
}

.socialMedia {
    display: inline-block;

    background-color: #DCCBB5;
    padding: 5%;
    border-radius: 20%;
}

.socialMedia h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

.socialMedia img {
    width: 60px;
    padding-top: 5px;

}

/*Créditos ao dev*/

.dev p {
    font-size: small;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.715);
    color: white;
    text-decoration: none;
}

.dev a {
    color: white;
    text-decoration: underline;
    margin: 0;
}


/*Keyframe*/

@keyframes text_reveal {
    100% {
        color: rgb(0, 81, 30);
    }
}

@keyframes text_reveal_name {
    100% {
        color: rgb(122, 75, 0);
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {

    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #portfolio .all-projects .project-info {
        height: 100%
    }

    #portfolio .all-projects .project-img {
        height: 100%
    }

    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #present {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .presentContent {
        margin-right: 2vh;

    }

    .present-img {
        padding: 2vh;
        flex: 0 0 38%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
   display: flex;
   align-items: flex-start;
   text-align: center;
    }


}